@{
    ViewData["Title"] = "About";
}

<div id="about">
    <div class="card text-center">
        <div class="card-header">
            <h5>Information about the website</h5>
        </div>
        <div class="card-body">
            <p class="card-text">This is a project work for <strong>'CITB537 Проект: Клиент-сървър технологии'</strong> course in <strong>NBU</strong>. The website has been created by <strong>Ilian Ganchosov</strong> F92235. </p>
            <p> Following technologies & tools have been used: HTML5, CSS, Bootstrap, jQuery, Ajax, ASP.NET Core MVC.</p>
            <br>
            <p class="contacts">Contacts:</p>
            <a href="https://www.linkedin.com/in/plotso/" class="btn btn-primary" target="_blank">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
            <a href="https://github.com/Plotso" class="btn btn-primary" target="_blank">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/i.ganchosov/" class="btn btn-primary" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="https://www.facebook.com/ilian.ganchosov" class="btn btn-primary" target="_blank">
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>