@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="center-custom">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <img src="~/images/errors/401.jpg" class="error-code-image" alt="unauthorized">
    <br>
    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index" role="button">Go to Home Page</a>
</div>
