@model PersonalWebsite.Models.InputModels.CommentModifyInputModel
@{
    ViewData["Title"] = "Delete Comment";
}

<h3 class="delete-page-heading">Delete comment</h3>
<form asp-action="Delete" method="post">
    <div>
        <label asp-for="Content"></label>
        <textarea asp-for="Content" class="form-control" readonly></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    
    <hr/>
    <div class="center-group">
        <input type="submit" name="onSubmitAction" class="btn btn-light" value="Cancel"/>
        <input type="submit" name="onSubmitAction" class="btn btn-danger delete-record-btn" value="Delete Comment" onclick="return confirm(`Are you sure you want to delete that comment?`)"/>
    </div>
</form>