@model PersonalWebsite.Models.InputModels.SkillModifyInputModel
@{
    ViewData["Title"] = "Delete Skill";
}

<h3 class="delete-page-heading">Delete skill</h3>
<form asp-action="Delete" method="post">
    <div>
        <label asp-for="Type">Type of skill (ex: Backend, Frontend, Infrastructure)</label>
        <input asp-for="Type" class="form-control" readonly/>
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>
    
    <div>
        <label asp-for="Name">Skill name</label>
        <input asp-for="Name" class="form-control" readonly/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <hr/>
    <div class="center-group">
        <input type="submit" name="onSubmitAction" class="btn btn-light" value="Cancel"/>
        <input type="submit" name="onSubmitAction" class="btn btn-primary delete-record-btn" value="Delete Skill"/>
    </div>
</form>