/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
  
}/* Custom CSS 
-------------------------------------------------- */
h2 {
  text-align: center;
}

.hidden-section {
  display: none;
}

.form-group {
  margin-right: 5%;
}

#personal-page {
  position: relative;
}

#personal-page img {
  position: absolute;
  top: 1%;
  right: 5%;
}

#gallery img {
  max-width: 33%;
  max-height: 60%;
}

.general-information {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0px;
  margin-bottom: 3%;
}

.general-information p{
  padding-right: 10%;
}

.section h5 {
  color: gray;
  text-align: center;
}

.page-heading {
  text-align: center;
  color: rgb(64, 206, 64);
}

.delete-page-heading {
  text-align: center;
  color: rgb(157, 8, 8);
}

.create-record-btn {
  background-color: rgb(64, 206, 64) !important;
}

.delete-record-btn {
  background-color: rgb(157, 8, 8) !important;
}

.center-group {
  text-align: center;  
}

#position {
  color: rgb(64, 206, 64);
}

.section  li  span {
  color: rgb(64, 206, 64);
  right: 5%;
}

.comments-container {
  margin: 1%;
}

.activity-details {
  position: relative;
  top: 10%;
  right: 5%;
  font-size: 65%;
  margin-left: 5%;
}

.current {
  padding-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1.1px;
  width: fit-content;
  color: grey;
}

.skills-list li {
  padding-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1.1px;
  width: fit-content;
}

.skills-group{
  text-align: center;
  color: rgb(64, 206, 64);
}

.contacts {
  color: rgb(77, 167, 226);
}

.short-presentation {
  margin-right: 15%;
}

.gallery-image{
  margin-top:20px; /*to have the space above the image*/
  margin-bottom:20px; /*to have the space under the image*/
}

.center-custom {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 10px;
}

@media screen and (max-width: 850px){
  #personal-page img {
    display: none;
  }

  #gallery img {
    max-width: 100%;
    height: auto;
  }
}
