@model PersonalWebsite.Models.InputModels.SkillModifyInputModel
@{
    ViewData["Title"] = "Edit Skill";
}

<h3 class="page-heading">Edit skill</h3>
<form asp-action="Edit" method="post">
    <div>
        <label asp-for="Type">Type of skill (ex: Backend, Frontend, Infrastructure)</label>
        <input asp-for="Type" class="form-control"/>
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>
    
    <div>
        <label asp-for="Name">Skill name</label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <hr/>
    <div class="center-group">
        <input type="submit" class="btn btn-primary create-record-btn" value="Edit Skill"/>
    </div>
</form>