@model PersonalWebsite.Models.InputModels.ExperienceModifyInputModel
@{
    ViewData["Title"] = "Delete Experience";
}

<h3 class="delete-page-heading">Delete experience</h3>
<form asp-action="Delete" method="post">
    <div>
        <label asp-for="Position"></label>
        <input asp-for="Position" class="form-control" readonly/>
        <span asp-validation-for="Position" class="text-danger"></span>
    </div>
    
    <div>
        <label asp-for="Company"></label>
        <input asp-for="Company" class="form-control" readonly/>
        <span asp-validation-for="Company" class="text-danger"></span>
    </div>
    
    <div>
        <label asp-for="Location"></label>
        <input asp-for="Location" class="form-control" readonly/>
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>
    
    <div>
        <label asp-for="FromDate">Start Date</label>
        <input asp-for="FromDate" type="date" class="form-control" readonly/>
        <span asp-validation-for="FromDate" class="text-danger"></span>
    </div>
    
    <div>
        <label asp-for="ToDate">End Date</label>
        <input asp-for="ToDate" type="date" class="form-control" readonly/>
        <span asp-validation-for="ToDate" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" readonly></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <hr/>
    <div class="center-group">
        <input type="submit" name="onSubmitAction" class="btn btn-light" value="Cancel"/>
        <input type="submit" name="onSubmitAction" class="btn btn-danger delete-record-btn" value="Delete Experience" onclick="return confirm(`Are you sure you want to delete that experience record?`)"/>
    </div>
</form>