@{
    ViewData["Title"] = "NotFound";
}

<div class="center-custom">
    <img src="images/errors/404.png" class="error-code-image">
    <br>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index" role="button">Go to Home Page</a>
</div>